<div id="page-wrapper">
	<table id="listings">
		<%= render partial: 'layouts/listings_partial', locals: {listings: @listings}%>
	</table>
	<% ['Austin', 'Dallas'].each do |city|%>
		<%= link_to(location_search_url(city), remote: true, class:'btn') do %>
			<%= city %>
		<% end %>
	<% end %>
</div>